.agendaContent__header {
    display: flex;
    align-items: center;
    width: 54%;
    margin: auto;
}

.agendaContent__header .btn {
    padding: 10px;
}

.paramsOptions {
    display: none;
    align-items: center;
    padding: 6px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, .1);
    width: fit-content;
    margin: 15px;
}

.paramsOptions:hover {
    background-color: rgb(255, 255, 255, .1)
}

.paramsOptions i {
    margin-left: 10px;
}


.optionsHeader {
    display: flex;
    justify-content: flex-end;
}

.hiddenOnDesktop {
    display: none;
}

/* .optionsContainer {
    transition: transform .4s cubic-bezier(.77, 0, .175, 1);
    transform: translate(-100%);

}

.optionsContainer.open {
    transform: translate(0);
    right: 0;
} */
.optionsHeader i {
    cursor: pointer;
}

.agendaContent__header--iconsContainer {
    margin: 0px 11px;
}

.agendaContent__header--iconsContainer i {
    margin: 0px 5px;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
}

.agendaContent__header--iconsContainer i:hover {
    background-color: rgb(0, 95, 242);
}

.agendaContent__body {
    display: flex;
}

.agendaContent__body__left {
    position: relative;
}

.agendaContent__body__right {
    width: 100%;
    display: flex;
    margin-top: 50px;
    position: relative;
}

.agendaContent__body__left ul {
    list-style-type: none;
}

.agendaContent__body__left--category {
    margin: 25px 0px 5px 0px;
}

.agendaContent__body__left .checkBox,
.agendaContent__body__left .checkBoxParams {
    width: 25px;
    height: 25px;
    background-color: rgb(0, 95, 242);
    border: 1px solid white;
}


.agendaContent__body__left li {
    display: flex;
    align-items: flex-end;
    margin: 19px 0px;
}

.agendaContent__body__left li .checkBox,
.agendaContent__body__left li .checkBoxParams {
    margin-right: 15px;
}

.agendaContent__body__left li img {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    display: none;
}

.agendaContent__body__right ul {
    list-style-type: none;
    margin-top: 17px;
}

.dayOff {
    filter: brightness(.3);
}

.dayFiche {
    width: 12.5%;
}

.dayFiche--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.dayMini {
    text-transform: uppercase;
    display: none;
}

/* .currentDay {
    background-color: rgb(0, 95, 242);
} */

.dayFiche--title:has(.currentDay) {
    background-color: rgba(216, 69, 138, .1);
    border-bottom: 2px solid rgb(216, 69, 138);
}

.dayFiche--title p:first-child {
    text-align: center;
    margin-bottom: 5px;
    padding-top: 13px;
}

.dayFiche--title p:last-child {
    font-size: 27px;
    text-align: center;
    font-size: 27px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px;
    cursor: pointer;
    animation-name: btt;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.dayFiche--title p:last-child:hover {
    background-color: rgba(216, 69, 138, .1);
}

.dayFiche ul li {
    text-overflow: ellipsis;
    white-space: wrap;
    font-size: 13px;
    position: relative;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 7px 3px;
    border-radius: 5px;
    padding: 10px 10px;
}

.dayFiche ul li:hover {
    /* background-color: rgb(240, 226, 175); */
    filter: brightness(.9)
}

/* .dayFiche ul li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
} */

.agendaTask__header__headerSubject {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    top: -14px;
    left: 80px;
    border: 1px solid white;
    padding: 1px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

}

.agendaTask__header__avatar {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    top: -14px;
    left: 47px;
    border: 1px solid white;
    padding: 1px;
    background-color: white;
}


.checkBox,
.checkBox__birthDay,
.checkBoxParams {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* === Thème personnalisé pour fond #121415 === */

.birthDayBg {
    /* Pêche doux festif */
    color: #121415;
    cursor: pointer;
    animation-name: growUp;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    background: #dfe4ff;
    border: 1px solid #c8d0ff;
    color: #2d3a74;
}

.bgJaune {
    background-color: #D4AF37;
    /* Jaune or élégant */
    color: #121415;
}

.bgBlack {
    background-color: #121415;
    /* Fond principal */
}

.bgBanksHollidays {
    background: #ffe5e1;
    color: #8f3d32;
    color: #8f3d32;
    cursor: pointer;
}

.bgTasks {
    background-color: rgb(255, 243, 201);
    /* Jaune or élégant */
    color: #121415;
    /* Orange terre cuite */
    cursor: pointer;
    animation-name: growUp;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.bgRdvs {
    /* Vert naturel */
    cursor: pointer;
    animation-name: growUp;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    background: #edffe1;
    ;
    color: #8f3d32;
}

.bgEvents {
    /* Violet doux */
    cursor: pointer;
    animation-name: growUp;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    background: #e1fff6;
    color: #8f3d32;
}

.bgProjects {
    background: #fee1ff;
    color: #8f3d32;
    /* Bleu moyen */
    cursor: pointer;
    animation-name: growUp;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.bgCourses {
    /* Bleu clair adouci */
    color: #f0f0f0;
    cursor: pointer;
    animation-name: growUp;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    background: #fff9e1;
    color: #8f3d32;
}

.bgMovies {
    /* Bleu clair adouci */
    color: #f0f0f0;
    cursor: pointer;
    animation-name: growUp;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    background: #e1f7ff;
    color: #8f3d32;
}


/* addModal */
.hidden {
    display: none !important;
}



/* modal focus task */
.boxTitle {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(216, 69, 138);
    margin-right: 15px;
}

.modalFocus {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent__header {
    display: flex;
    justify-content: flex-end;
}

.modalContent__header i {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 7px 7px;
    border-radius: 5px;
    margin: 0px 3px;
}

.modalContent__body>div {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.modalContent__body__description>i {
    margin-right: 15px;
}

.modalContent__body__name div:last-child p:last-child {
    font-size: 12px;
    color: rgb(216, 69, 138);
}

.modalContent__body__description {
    display: flex;
}

.modalContent__body__description i {
    margin-left: 26px;
    font-size: 12px;
    color: rgb(0, 95, 242);
}

.agendaContent__body__right i {
    margin-right: 15px;
}

.modalContent__header i {
    cursor: pointer;
}

.modalContent__header i:hover {
    color: rgb(4, 74, 183);
}

.agendaContent__body__right .dayFiche {
    z-index: 50;
}

.modal {
    z-index: 9999;
}

.modalFocus {
    z-index: 9999;
}

/* agenda version mobile */

.agendaContent__body__mobileView {
    background-color: rgb(31, 31, 65);
    display: none;
}

.calendarMobileView__header {
    display: flex;
    background-color: rgb(7, 8, 11);
    cursor: pointer;
    justify-content: space-between;
}

.calendarMobileView__header .calendarMobileView__header__day:hover {
    background-color: rgb(41, 41, 41);
    color: white;
}

.calendarMobileView__header__day {
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    color: rgba(255, 255, 255, .3);
    border-top: 2px solid rgb(33, 66, 146);
    padding-top: 5px;
    align-items: center;
    position: relative;
    margin-right: 4px;
}

.currentDay-mobile-on {
    background-color: rgb(41, 41, 41);
    color: white;
    border-top: 2px solid rgb(255, 155, 0);
}


.mobileDay {
    text-transform: capitalize;
    font-size: 10px;
}

.mobileNumber {
    font-size: 10px;
}

.mobileDayLenght {
    position: absolute;
    top: -22px;
    color: white;
    font-weight: 600;
    padding: 3px;
    font-size: 9px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0%;
    z-index: 500;
    background-color: rgb(0, 95, 242);
    border-radius: 3px;
}

.agendaContent__body__mobileView .calendarMobileView__body ul {
    list-style-type: none;
}

.agendaContent__body__mobileView .calendarMobileView__body ul li {
    margin: 15px;
    padding: 15px;
    width: 60%;
    border-radius: 5px;
}

body .agendaContent__body__left {
    margin-bottom: 23px;
}

.modalFocus2 {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalFocus2 .modalContent__header i {
    margin-right: 15px;
}

.addTask-mobile {
    display: inline-block;
    margin: 15px;
}

.agendaContent__body__mobileView .currentDay {
    background-color: unset;
}

.agendaContent__body__mobileView {
    background-color: rgb(41, 41, 41);
}

.agendaContent__body__mobileView .agendaTask__body {
    font-size: 14px;
    overflow-wrap: break-word;
}

.focusTask-title {
    font-size: 19px;
    margin: 5px 0px;
}

.agenda {
    display: flex;
}

.agenda__left {
    padding: 25px;
}

.agenda__right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.agendaYear__monthBox__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* my calendars */
.optionsContainer ul li {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.agenda__left__parameters__options .checkBox,
.agenda__left__parameters__options .checkBoxParams {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
}

.checkBox__user {
    background-color: #668BE1;
    padding: 3px;
}

.box-user {
    border: 2px solid #668BE1;
    border-radius: 3px;
}

.box-user i {
    padding: 5px;
    color: white;
}

.checkBox__Bank {
    background-color: rgb(216, 69, 138);
    padding: 3px;
}

.box-bank {
    border: 2px solid rgb(216, 69, 138);
    border-radius: 3px;
}

.box-bank i {
    padding: 5px;
    color: white;
}

.checkBox__birthDay {
    background-color: #55B080;
    padding: 3px;
}

.box-birth {
    border: 2px solid #55B080;
    border-radius: 3px;
}

.box-birth i {
    padding: 5px;
    color: white;
}

.agenda__right__agenda {
    display: flex;
}

.dayFicheContainer {
    display: flex;
    width: 80%;
}

/* period of the day */
.periodOfTheDay {
    margin-top: 69px;
    border-top: 2px solid rgba(192, 192, 192, 0.3);
    margin-top: 92px;
}

.periodOfTheDay>div {
    height: 200px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(192, 192, 192, 0.3);
    border-right: 2px solid rgba(192, 192, 192, 0.3);
}

.typeList {
    height: 200px;
    overflow-y: auto;
    border-right: 2px solid rgba(192, 192, 192, 0.3);
    padding: 5px;
    list-style-type: none;
}

.morning {
    border-top: 2px solid rgba(192, 192, 192, 0.3)
}

.noon {
    border-top: 2px solid rgba(192, 192, 192, 0.3)
}

.evening {
    border-top: 2px solid rgba(192, 192, 192, 0.3);
    border-bottom: 2px solidrgba(192, 192, 192, 0.3);
}

.agendaTask__header {
    text-align: left;
    padding: 10px 0px;
    color: rgb(216, 69, 138);
    font-size: 12px;
}

.agendaTask__body::first-letter {
    text-transform: uppercase;
}

.agendaTask__body {
    font-weight: 600;
    color: rgba(0, 0, 0, .8);
}

.periodOfTheDay>div>p {
    text-align: center;
    font-weight: 600;
}

.periodOfTheDay__evening__horraire {
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, .7);
    margin-top: 5px;
}

/* agenda right header */
.agenda__right__header {
    display: flex;
    align-items: center;
}

.agenda__right__header__navigation__arrows {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.agenda__right__header__navigation__arrows i:hover {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.agenda__right__header__navigation__arrows i {
    padding: 7px;
    color: black;
}


/* agenda left header */
.agenda__left__header>button {
    margin: 15px 0px;
}

.agenda__left__header>p {
    color: rgba(0, 0, 0, .7);
}


/* agenda right header */
.agenda__right__header__navigation__arrows>div {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1px 7px;
    border-radius: 5px;
    margin: 0px 3px;
}

.agenda__right__header__navigation__arrows>div:hover i {
    /* color: rgb(216, 69, 138); */
}

.agenda__right__header__navigation__arrows>div:hover {
    background-color: rgba(197, 197, 197, 0.1);
}

.agenda__right__header {
    padding: 30px 0px 0px 23px;

}