.profil {
    background-color: rgb(248, 249, 251);
    padding: 50px;
}


.profil_top {
    display: flex;
}

.profil_top .box:nth-child(1) {
    width: 100%;
}

.profil_top .box:nth-child(2) {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
}

.profil_top__update>div {
    border: 1px solid rgba(108, 102, 102, 0.2);
    border-radius: 3px;
    padding: 5px 15px;
    margin: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profil_top__update>div i {
    color: rgb(0, 95, 242);
    cursor: pointer;
    border: 1px solid rgb(29, 29, 31);
    padding: 10px;
}

.profil_top__update>div i:hover {
    border: 1px solid rgba(255, 255, 255, .3);
}

.profil_top__profil img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

/* ----avatar---- */
#img-avatar {
    display: none;
}

.profil_form form>div {
    position: relative;
    border: 2px solid rgba(255, 255, 255, .1);
    height: 51px;
    border-radius: 7px;
    margin: 23px 0px;
    max-width: 332px;
}

.profil_form form>div input {
    height: 100%;
    border-radius: 7px;
    border: none;
    outline: none;
    color: black;
    padding-left: 10px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: rgb(254, 250, 199);
}

.profil_form .form-group label {
    position: absolute;
    top: -16px;
    left: 15px;
    color: white;
    font-size: 12px;
    background-color: rgb(216, 69, 138);
    padding: 6px 5px;
    border-radius: 3px;
}

/* -----birthdays---- */
.birthdayInputsContainer {
    display: flex;
    width: 176px;
}

.birthdayInputsContainer input[name='birthDay-date'],
.birthdayInputsContainer input[name='birthDay-month'] {
    font-size: 19px;
    width: 60px
}

.birthdayInputsContainer input[name='birthDay-year'] {
    max-width: 70px;
    font-size: 19px;
}


.fiche-birthDay {
    border: 1px solid rgba(108, 102, 102, 0.2);
    border-radius: 3px;
    padding: 5px 15px;
    margin: 9px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(216, 69, 138, .1);
    padding: 7px;
}

.fiche-birthDay p {
    margin: 0px 15px;
}

.fiche-birthDay .names {
    color: rgb(0, 95, 242);
    width: 126px;
}


.iconContainer-birthDay {
    display: flex;
    align-items: center;
}

.iconContainer-birthDay i {
    margin-right: 15px;
}

.fiche-birthDay i {
    color: #dd3333b2;
}

.fiche-birthDay {}

.fiche-birthDay i {
    cursor: pointer;
}

.fiche-birthDay p:first-child {
    text-transform: capitalize;
}

.fiche-birthDay p:nth-child(2) {
    text-transform: uppercase;
    width: 100px;
}

.profil_form__filter form input[type='text'] {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .2);
    height: 55px;
    border-radius: 5px;
    color: black;
    padding: 5px;
    padding-left: 5px;
    padding-left: 10px;
    width: 100%;
}

.profil_form__filter form {
    margin-bottom: 15px;
}

/* header */
.profil__header {
    display: flex;
    color: white;
}

.profil__header div {
    cursor: pointer;
    color: black;
}

.profil__header__bg {
    display: flex;
    align-items: center;
}

.profil__header__bg div {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.profilActive {
    color: rgb(216, 69, 138);
    border-bottom: 2px solid rgb(216, 69, 138);
}

.profil__header p {
    padding: 10px;
}

.profil__body {
    display: flex;

}

.profil_avatar img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.profil_form {
    width: 70%;
}

.profil__header {
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 35px 35px 0px 35px;
}

.profil__body {
    max-width: 650px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 35px;
    margin: 26px 0px;
}

.profil__header__bg {
    background: url("/public/assets/images/bg/bg_pink.png") right center / 45% no-repeat;
    background-repeat: no-repeat;
    height: 265px;
    width: 100%;
}

.profil__header__menu {
    display: flex;
    flex-direction: column;
}

.profil__header__bg {
    position: relative;
}

.profil__header__menu__name {
    display: flex;
}

.profil__header__bg label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.profil__header__bg>div {
    display: flex;
    flex-direction: column;
}

.fa-camera-retro {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 23px;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.nameAndRole {
    display: flex;
    flex-direction: column;
}

.nameAndRole>div {
    display: flex;
}

.nameAndRole>div i {
    color: rgb(216, 69, 138);
}

.nameAndRole>p {
    font-size: 25px;
    font-family: dragonball;
}

.nameAndRole div>p {
    background-color: rgba(216, 69, 138, .1);
    border-radius: 5px;
    margin: 0px 11px;
    color: rgb(216, 69, 138);
}

body .birthdayInputsContainer {
    width: auto;
}


.profil__header__menu__name p:first-child {
    font-size: 25px;
}

.profil_form>p {
    font-size: 20px;
    border-bottom: 2px solid rgb(216, 69, 138);
    display: inline;
}

.profil_form label {
    font-size: 20px;
    border-bottom: 2px solid rgb(216, 69, 138);
    display: inline;
}

.avatar-preview {
    width: 125px;
    height: 125px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 50%;
}

.profil__header__menu__name>div {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgba(255, 255, 255, .8);
}

.profil__header__menu__forms {
    display: flex;
}

.profil__header__menu__forms {
    margin: 15px 15px 0px 15px;
}

.img-avatar {
    display: none;
}